   <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
            <div class="container">
            <a class="navbar-brand" href="#">iLoveMyBengaluru</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link" href="/koramangala">Koramangala</a>
                <a class="nav-item nav-link" href="/btm">BTM</a>
                <a class="nav-item nav-link" href="/Jayanagar">Jayanagara</a>
                <a class="nav-item nav-link" href="/jpnagara">JP Nagar</a>
                <a class="nav-item nav-link" href="/hsr">HSR</a>
            </div>
            </div>
            </div>
            </nav>
      